[submodule "re-entrancy/lib/forge-std"]
	path = re-entrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "function-collision/lib/forge-std"]
	path = function-collision/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
