[submodule "Centralization/lib/forge-std"]
	path = Centralization/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Signature-Replay/lib/forge-std"]
	path = Signature-Replay/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Signature-Replay/lib/openzeppelin-contracts"]
	path = Signature-Replay/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
